<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="elquchiri" translate="label" sortOrder="405">
            <label>ElQuchiri Extensions</label>
        </tab>
        <section id="elq_social_network" translate="label" type="text" sortOrder="8889" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Social Login</label>
            <resource>ElQuchiri_SocialLogin::Config</resource>
            <tab>elquchiri</tab>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Social Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes to enable social login.</comment>
                </field>
            </group>
            <group id="adapters" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Social Login Adapters</label>
                <group id="facebook" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook</label>
                    <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Facebook</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Select Yes to enable Facebook login option.</comment>
                    </field>
                    <field id="app_id" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App ID</label>
                        <comment>Ex: 252716623281505</comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="app_secret" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App Secret</label>
                        <comment>Ex: 6eb49909a3548eabf945597fc59009a4</comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="redirect_uri" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>URI Redirect</label>
                        <frontend_model>ElQuchiri\SocialLogin\Block\System\RedirectUrl</frontend_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
                <group id="google" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google</label>
                    <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Google</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Select Yes to enable Facebook login option.</comment>
                    </field>
                    <field id="app_id" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App ID</label>
                        <comment>Ex: 252716623281505</comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="app_secret" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App Secret</label>
                        <comment>Ex: 6eb49909a3548eabf945597fc59009a4</comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="redirect_uri" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>URI Redirect</label>
                        <frontend_model>ElQuchiri\SocialLogin\Block\System\RedirectUrl</frontend_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
                <group id="instagram" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instagram</label>
                    <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Instagram</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Select Yes to enable Facebook login option.</comment>
                    </field>
                    <field id="app_id" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App ID</label>
                        <comment>Ex: 252716623281505</comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="app_secret" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App Secret</label>
                        <comment>Ex: 6eb49909a3548eabf945597fc59009a4</comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="redirect_uri" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>URI Redirect</label>
                        <frontend_model>ElQuchiri\SocialLogin\Block\System\RedirectUrl</frontend_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
                <group id="twitter" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Twitter</label>
                    <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Twitter</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Select Yes to enable Facebook login option.</comment>
                    </field>
                    <field id="app_id" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App ID</label>
                        <comment>Ex: 252716623281505</comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="app_secret" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App Secret</label>
                        <comment>Ex: 6eb49909a3548eabf945597fc59009a4</comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="redirect_uri" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>URI Redirect</label>
                        <frontend_model>ElQuchiri\SocialLogin\Block\System\RedirectUrl</frontend_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
                <group id="amazon" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Amazon</label>
                    <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Amazon</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Select Yes to enable Amazon login option.</comment>
                    </field>
                    <field id="app_id" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App ID</label>
                        <comment>Ex: 252716623281505</comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="app_secret" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App Secret</label>
                        <comment>Ex: 6eb49909a3548eabf945597fc59009a4</comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="redirect_uri" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>URI Redirect</label>
                        <frontend_model>ElQuchiri\SocialLogin\Block\System\RedirectUrl</frontend_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
                <group id="yahoo" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Yahoo</label>
                    <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Yahoo</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Select Yes to enable Yahoo login option.</comment>
                    </field>
                    <field id="app_id" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App ID</label>
                        <comment>Ex: 252716623281505</comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="app_secret" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App Secret</label>
                        <comment>Ex: 6eb49909a3548eabf945597fc59009a4</comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="redirect_uri" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>URI Redirect</label>
                        <frontend_model>ElQuchiri\SocialLogin\Block\System\RedirectUrl</frontend_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
                <group id="github" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GitHub</label>
                    <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Paypal</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Select Yes to enable Apple login option.</comment>
                    </field>
                    <field id="app_id" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App ID</label>
                        <comment>Ex: 252716623281505</comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="app_secret" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App Secret</label>
                        <comment>Ex: 6eb49909a3548eabf945597fc59009a4</comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="redirect_uri" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>URI Redirect</label>
                        <frontend_model>ElQuchiri\SocialLogin\Block\System\RedirectUrl</frontend_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
                <group id="linkedin" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>LinkedIn</label>
                    <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable LinkedIn</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Select Yes to enable Apple login option.</comment>
                    </field>
                    <field id="app_id" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App ID</label>
                        <comment>Ex: 252716623281505</comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="app_secret" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App Secret</label>
                        <comment>Ex: 6eb49909a3548eabf945597fc59009a4</comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="redirect_uri" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>URI Redirect</label>
                        <frontend_model>ElQuchiri\SocialLogin\Block\System\RedirectUrl</frontend_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
